<%- include("./partial/header"); %>
<main>
    <br>
    <br>
    <form action="/memoryLeak"  enctype="multipart/form-data" method="POST">
        <label for="std_id">MSSV</label>
        <input type="text" name="std_id">
        <br>
        <br>
        <label for="myFiles"> Select files:</label>
        <input type="file" name="myFiles" multiple>
        <br>
        <label for="max_testcases">Number of test cases: </label>
        <input type="number" name="max_testcases" id="max_testcases" min="1" max="5" value="2">
        <label for="max_events">Maximum number of events: </label>
        <input type="number" name="max_events" id="max_events" min="20" max="1000" value="100">
        <label for="max_knights">Maximum number of knights: </label>
        <input type="number" name="max_knights" id="max_knights" min="20" max="500" value="100">
        <label for="max_antidote">Maximum number of antidote:</label>
        <input type="number" name="max_antidote" id="max_antidote" min="5" max="100" value="5">
        <label for="max_phoenix">Maximum number of phoenix:</label>
        <input type="number" name="max_phoenix" id="max_phoenix" min="5" max="100" value="5">
        <input type="submit" value="Upload your files"/>
    </form>
    <br>
    <br>
</main>
<%- include('./partial/footer'); %>